html, body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

canvas {
  display: block;
}
#sketch {
    width: 400px;
    height: 400px;
    background-color: red;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}
